img {
  height: 70px;
  width: 70px;
}

#registros {
  background-color: beige;
  margin: 20px;
}

button {
  padding: 15px;
  background-color: blue;
  color: white;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

button:hover {
  background-color: rgba(221, 49, 255, 0.726);
  color: black;
}

input {
  padding: 15px;
  font-size: 20px;
}

td,
tr {
  border: 2px solid black;
  padding: 8px;
}
table {
  border-collapse: collapse;
}
